@media (min-width: 600px) {
    #title::before {
        content: "Welcome to My First Web Page!";
    }
}

@media (max-width: 599px) {
    #title::before {
        content: "Welcome!";
    }
}

#title {
    font-weight: bold;
    text-align: center;
}



.menu {
    background-color: black;
}

.links a {
    color: white;
    font-weight: bold;
    font-size: larger;
}

.links a:hover {
    color: grey;
}

div {
   
}

.photo {
    padding-top: 50px;
}

.about_me {
    padding-top: 20px;
}

.center{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.row{
    margin-top: 30px;
}


.grid-space{
    
}

p{
    margin-top: 10px;
}